########################################################
# Cine por Torrent
# Viendo Kodi Team
########################################################
title=[B][COLOR blue]PELICULAS POR TORRENT[/COLOR][/B]
type=say
url=nulo.cfg
icon=viendokodi.streaming.image|cineyserie.png
########################################################

# 1
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]NEWPCT1.COM[/COLOR][/B]
director=newpct1
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/newpct1.com.cfg


# 2
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]ESTRENOSDTL.COM[/COLOR][/B]
director=Estrenosdtl
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/estrenosdtl.com.cfg


# 3
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]DIVXATOPE.COM[/COLOR][/B]
director=divxatope
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/divxatope.com.cfg

# 4
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]DIVXTOTAL.COM[/COLOR][/B]
director=divxtotal
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/divxtotal.cfg


# Orden Alfabetico


title=[B][COLOR blue]PELICULAS POR ORDEN ALFABETICO[/COLOR][/B]
type=say
genre=null
director=ViendoKodiStreaming
icon=viendokodi.streaming.image|cineyserie.png
url=null.cfg

# 1
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]NEWPCT1.COM[/COLOR][/B]
director=newpct1
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/newpct1oa.com.cfg

# 2
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]DIVXATOPE.COM[/COLOR][/B]
director=divxatope
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/divxatopeoa.com.cfg
