########################################################
# Series por Torrent
# Viendo Kodi Team
########################################################
title=[B][COLOR blue]SERIES POR TORRENT[/COLOR][/B]
type=say
url=nulo.cfg
icon=viendokodi.streaming.image|cineyserie.png
########################################################

# 1
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]NEWPCT1.COM[/COLOR][/B]
director=newpct1
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/newpct1series.cfg
