########################################################
# Series por Torrent
# Viendo Kodi Team
########################################################
title=[B][COLOR blue]SERIES POR TORRENT[/COLOR][/B]
type=say
url=nulo.cfg
icon=viendokodi.streaming.image|cineyserie.png
########################################################

# 1
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]NEWPCT1.COM[/COLOR][/B]
director=newpct1
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/newpct1.comseries.cfg

# 2
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]ZENTORRENT.COM[/COLOR][/B]
director=zentorrent
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/zentorrentsSERIES.cfg

# 3
title=[COLOR aqua]   DE LA WEB :    [COLOR lime][B]DIVXTOTAL.COM[/COLOR][/B]
director=divxtotal
icon=viendokodi.streaming.image|cineyserie.png
url=torrent/divxtotalseries.cfg